:root {
    --color-primary: #e76f51;
    --color-bg-primary: #f7f7f7;
    --color-bg-secondary: #b4b4b4;
    --color-grey: #313131;
    --color-text: #191919;
  
    --font: "Rubik", sans-serif;
    /* font sizes */
    --fs-sm: 1.4rem;
    --fs-md: 1.6rem;
    --fs-lg: 2rem;
    --fs-xl: 2.4rem;
    --fs-xxl: 3.2rem;
    /* font weight */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
  
    /* z-index*/
    --zindex-menu: 1000;
    --zindex-fixed: 1010;
  
    --width-container: 98rem;
    --height-header: 10rem;
    --height-header--scroll: 8rem;
  
    --transition: all 0.45s cubic-bezier(0.650, 0.050, 0.360, 1);
    --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .rubik-font {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  h4 {
    color: var(--color-grey);
    font-weight: var(--fw-bold);
  }
  
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  ul,
  p {
    margin: 0;
    padding: 0;
  }
  
  ul {
    list-style-type: none;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  a {
    text-decoration: none;
    color: var(--color-text);
  }
  
  main {
    overflow: hidden;
  }
  
  body {
    background-color: var(--color-bg-primary);
    font-family: var(--font);
    font-size: var(--fs-md);
    color: var(--color-text);
    margin-top: var(--height-header);
    line-height: 1.2;
  }
  
  .container {
    width: 90%;
    max-width: var(--width-container);
    margin: auto;
  }
  
  .section {
    padding: 3rem 0;
  }
  
  .section_header {
    margin: 8rem 0;
    text-align: center;
  }
  
  .section_title {
    font-size: var(--fs-xl);
    margin-bottom: 0.5rem;
  }
  
  .section_subtitle {
    font-weight: var(--fw-bold);
    font-size: var(--fs-md);
    position: relative;
  }
  
  .section_subtitle::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 0.5rem;
    background-color: var(--color-primary);
    bottom: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .d-grid {
    display: grid;
    gap: 3rem;
  }
  
  /* Header */
  .header {
    background-color: var(--color-bg-primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: var(--height-header);
    z-index: var(--zindex-menu);
    transition: var(--transition);
  }
  
  .header--scroll {
    height: var(--height-header--scroll);
    box-shadow: var(--box-shadow);
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .nav_brand {
    font-size: var(--fs-lg);
    font-weight: var(--fw-bold);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
  }
  
  .nav_brand i {
    color: var(--color-grey);
  }
  
  .nav_list {
    display: flex;
    column-gap: 4rem;
  }
  
  .nav_link {
    transition: var(--transition);
  }
  
  .nav_link:hover {
    color: var(--color-primary);
  }
  
  .nav_toggle {
    display: none;
    font-size: var(--fs-xl);
    color: var(--color-grey);
    cursor: pointer;
    transition: var(--transition);
  }
  
  .nav_toggle:hover {
    color: var(--color-primary);
  }
  
  @media screen and (max-width: 968px) {
    .nav_list {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 4rem;
    }
  
    .nav_menu {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: var(--color-bg-primary);
      display: none;
      justify-content: center;
      transition: var(--transition);
    }
  
    .nav_menu--open {
      display: flex;
    }
  
    .nav_toggle {
      display: block;
    }
  
    .nav_brand,
    .nav_toggle {
      z-index: var(--zindex-fixed);
    }
  }
  
  /* home */
  .home_wrapper {
    min-height: calc(100vh - var(--height-header));
    padding: 5rem 0;
  }
  
  .home_content {
    text-align: center;
  }
  
  .home_title {
    font-size: var(--fs-xxl);
    margin-bottom: 5rem;
    position: relative;
  }
  
  .home_title::after {
    position: absolute;
    content: "";
    background-color: var(--color-primary);
    width: 10rem;
    height: 0.5rem;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .home_description {
    margin-bottom: 5rem;
  }
  
  .home_info {
    border-top: 1px solid var(--color-grey);
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
  }
  
  .home_info-number {
    font-size: var(--fs-xxl);
    font-weight: var(--fw-bold);
    color: var(--color-grey);
    margin-bottom: 1rem;
  }
  
  .home_info-title {
    font-size: var(--fs-sm);
    font-weight: var(--fw-regular);
    color: var(--color-text);
  }
  
  @media screen and (max-width: 968px) {
    .flower_img {
      width: 280px;
      justify-self: center;
    }
  }
  
  /* About */
  .about_content {
    max-width: 50rem;
    margin: auto;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .about_title {
    font-size: var(--fs-xxl);
    margin-bottom: 3rem;
  }
  
  .about_description {
    margin-bottom: 3rem;
  }
  
  .skills {
    justify-self: center;
  }
  
  .skills_title {
    font-size: var(--fs-lg);
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .skills_wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  .skills_item {
    margin-bottom: 1rem;
  }
  
  .skills_subtitle {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .skills_item i {
    color: var(--color-primary);
  }
  
  /* Experience */
  .experience_wrapper {
    margin-bottom: 5rem;
  }
  
  .experience_content {
    row-gap: 5rem;
  }
  
  .experience_name {
    display: flex;
    column-gap: 1rem;
    font-size: var(--fs-lg);
    margin-bottom: 5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--color-grey);
  }
  
  .experience_title {
    font-size: var(--fs-md);
    font-weight: var(--fw-medium);
    margin-bottom: 1rem;
  }
  
  .experience_description {
    margin-bottom: 2rem;
  }
  
  .experience_date {
    font-size: var(--fs-sm);
    font-weight: var(--fw-semibold);
  }
  
  .hyperlink {
    transition: var(--transition);
  }
  
  .hyperlink:hover {
    color: var(--color-primary);
    transition: var(--transition);
  }
  
  /* Projects, Research */
  .project_content, .research_content {
    width: 100%;
    max-width: 30rem;
    justify-self: center;
  }
  
  .project_img, .research_img {
    margin-bottom: 2rem;
  }
  
  .project_title, .research_title {
    color: var(--color-grey);
    font-size: var(--fs-lg);
    margin-bottom: 1rem;
  }
  
  .project_description, .research_description {
    margin-bottom: 2rem;
  }
  
  .project_link, .research_link {
    font-size: var(--fs-sm);
    text-transform: uppercase;
    color: var(--color-grey);
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    transition: var(--transition);
  }
  
  .project_link:hover, .research_link:hover {
    color: var(--color-primary);
    column-gap: 1rem;
  }
  
  /* Footer */
  .footer {
    padding: 5rem 0;
  }
  
  .footer_wrapper {
    border-bottom: 1px solid var(--color-bg-secondary);
    padding: 5rem 0;
    gap: 5rem;
  }
  
  .footer_title {
    font-size: var(--fs-lg);
    margin-bottom: 2rem;
  }
  
  .social-list {
    display: flex;
    gap: 3rem;
  }
  
  .social-link {
    font-size: 2rem;
    color: var(--color-grey);
    transition: var(--transition);
  }
  
  .contact {
    font-size: var(--fs-lg);
    color: var(--color-grey);
    font-weight: var(--fw-bold);
    text-decoration: underline;
    transition: var(--transition);
  }
  
  .social-link:hover,
  .contact:hover {
    color: var(--color-primary);
  }
  
  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 1rem;
    border-radius: 0.5rem;
    background-color: var(--color-bg-secondary);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--color-text);
    border-radius: 0.5rem;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-primary);
  }
  
  /* Medium devices*/
  @media screen and (min-width: 560px) {
    .service_wrapper {
      grid-template-columns: repeat(2, 250px);
      justify-content: center;
    }
  
    .experience_content {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .experience_footer {
      text-align: initial;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .experience_footer-text {
      margin: 0;
    }
  
    .project_wrapper, .research_wrapper {
      grid-template-columns: repeat(2, 250px);
      justify-content: center;
    }
  
    .footer_wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (min-width: 768px) {
    .home_wrapper {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  
    .home_content {
      text-align: initial;
    }
  
    .home_title::after {
      transform: none;
      left: 0;
    }
  
    .home_info {
      justify-content: initial;
    }
  
    .home_img {
      justify-self: flex-end;
    }
  }
  
  /* Large devices */
  @media screen and (min-width: 968px) {
    .about_wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .about_content {
      margin: 0;
    }
  
    .about_content,
    .skills_title {
      text-align: initial;
    }
  
    .experience_content,
    .service_wrapper,
    .project_wrapper,
    .research_wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .contact_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .contact_content {
      margin: 0;
      text-align: initial;
    }
  
    .footer_wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  